In [1]:
import pandas as mypanda
from scipy import stats as mystats

In [2]:
import pandas as mypanda
from scipy import stats as mystats

In [3]:
df=mypanda.read_csv("output.csv")

In [4]:
df.head()

   Length
0      72
1      68
2      38
3      42
4      73

In [5]:
PT=df.Length
PT

0      72
1      68
2      38
3      42
4      73
       ..
895    69
896    70
897    73
898    73
899    73
Name: Length, Length: 900, dtype: int64

In [10]:
mystats.ttest_1samp(PT,42)

Ttest_1sampResult(statistic=0.8831398106994693, pvalue=0.37739682985806955)

In [7]:
PT.mean()

42.51111111111111